<!--mat-card serves as a single-object container for text, photos, and actions.-->
<mat-card >
    <!-- For content of the card -->
    <mat-card-content>
            <img src="../../assets/img/logo_transparent_background.png">           
        <form  class="register-form">
            <div class="example-container">
                <!-- Wrap several component for common styling-->
                <mat-form-field>
                    <input matInput type="text" placeholder="First name" name="firstname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Last name" name="lastname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" placeholder="Email" name="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" name="password">
                </mat-form-field>
                <mat-form-field>
                    <!-- Creates a select box-->
                    <mat-select placeholder="Are you a Tutor">
                        <mat-option value="1">Yes</mat-option>
                        <mat-option value="0">No</mat-option>
                    </mat-select>
                </mat-form-field>
    <!--Container for buttons and bottom of card-->
    <mat-card-actions>
        <button class="reg-btn" mat-raised-button (click)="login()"  color="primary">Register</button>
    </mat-card-actions>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer>
       <p class="footer-words">Already have an account?<a routerLink="/login"> Login</a></p>
    </mat-card-footer>
</mat-card>